body {
    background-image: linear-gradient(rgb(214, 214, 214), white);
    background-repeat: no-repeat; 
}
ul {
    list-style-position: inside;
}
  .box {
    display: inline-block;       
    border: 1px solid black;
    width: 15px;
    height: 15px;
    margin-left: -1px;
    margin-bottom: -1px;
    }
  .buttons button {
      font-size: 20px;
      margin: 0 10px;
  }
  .buttons button:focus {
      outline:0;
  }
  .buttons button:hover {
    background-color:  rgb(255, 241, 111);
  }
  .dead {
    background-color: rgba(24, 187, 187, 0.794);
  }
  
  .alive {
    background-color: rgb(255, 241, 111);
  }
    
  .box:hover { 
    background: rgb(255, 241, 111);
  }
  
  .grid {
    line-height: 0;
    margin: auto;
    margin-top: 20px;
  }
    
